.characterEditor {
  position: relative;
  overflow-x: clip;
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  max-width: 1280px;
  position: relative;
}

.header {
  max-width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
  position: fixed;
  top: 15%;
  left: 60%;
  bottom: 5%;
}

.perspectiveDecoration {
  height: 40%;
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: #9898;
}

@media (min-width: 1280px) {
  .controlColumn {
    width: 50%;
  }
}

@media (max-width: 1279px) {
  .controlColumn {
    width: 100%;
    display: flex;
    overflow: scroll;
    gap: 10px;
  }

  .perspectiveDecoration {
    height: 20%;
  }

  .controlColumn::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .controlColumn {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
